build/
.build/
dist/
*.xcodeproj/
.DS_Store
.swiftpm/
xcuserdata/
*.pbxuser
*.perspectivev3
*.moved-aside
*.xccheckout
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
.interoute/
.accio/
.swiftformat
.env
